@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Special Elite";
  margin: 20px 50px;
  color: beige;
}
.game-intro {
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#arrow {
  display: inline;
  height: 50px;
  width: 70px;
}

#space {
  display: inline;
  height: 70px;
  width: 150px;
}

#game-screen {
  background-image: url("./images/hogwarts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

canvas {
  
  border: 3px solid #95928D;
}

.score-board {
  font-family: "Special Elite";
  background-color: rgb(243, 236, 236);
  padding: 10px;
  border-radius: 1000px; 
}

.game-victory {
  background-image: url("./images/castle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game-victory p {
  color: beige;
  font-size: 40px;
  font-family: "Special Elite";
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.game-loser {
  background-image: url("./images/castle-attacked.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game-loser p {
  color: rgb(2, 247, 255);
  font-size: 40px;
  font-family: "Special Elite";
}
