body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: ;
  margin: 20px 50px;
  color: beige;
}
.game-intro {
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  /* position: relative; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* flex-direction: column-reverse; */
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#arrow {
  /*position: absolute;
  top:68%;
  left: 45%;*/
  display: inline;
  height: 50px;
  width: 70px;
}

#space {
  /*position: absolute;
  top:68%;
  left:55%;*/
  display: inline;
  height: 70px;
  width: 150px;
}

canvas {
  border: 1px solid black;
  position: relative;
}

#background-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.score-board {
  font-family: fantasy;
  margin-left: 350px;
  position: absolute;
  top: 10%;
}

.game-victory {
  background-image: url("./images/castle.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  padding-top: 50px;
  position: relative;
}

.game-victory p {
  color: beige;
  font-size: 40px;
  font-family: fantasy;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}

.game-loser {
  background-image: url("./images/castle-attacked.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 850px;
  padding-top: 50px;
  position: relative;
}

.game-loser p {
  color: black;
  font-size: 40px;
  font-family: fantasy;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
