body {
  margin: 0;
  padding: 0;
}

#start-button {
  background-color: darkgrey;
  height: 40px;
  width: 90px;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}

#restart-button {
  background-color: darkgrey;
  height: 40px;
  width: 120px;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

.game-intro {
  background-image: url("./images/logo.png");
  background-repeat: no-repeat;
  height: 793px;
  width: 1394px;
}

div h1 {
  color: beige;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 500px;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 0;
  margin-bottom: 10px;
}

div .arrow {
  background-color: whitesmoke;
  height: 70px;
  width: 70px;
  margin-left: 550px;
}

div .space {
  background-color: #39404d;
  height: 70px;
  width: 150px;
  margin-left: 50px;
}

div #start-button {
  display: flex;
  justify-content: flex-end;
}

canvas {
  border: 1px solid black;
  margin-left: 0px;
}

.score-board > span {
  font-family: fantasy;
  margin-left: 0px;
}

.game-victory {
  font-size: 20px;
  font-family: fantasy;
}

.game-loser {
  font-size: 20px;
  font-family: fantasy;
}
